<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <style>
        
    </style>
</head>
<body>
    <div class="container bg-gray-200 w-1/2 p-4 mx-auto mt-4" >
        <h1 class="text-2 font-bold" >Smart Cantact Manager</h1>
        <h2>Welcome to Home page!!</h2>
        <p> This is home page for Smart contact Manager</p>
        <p>Team SCM welcomes you!!</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>